<template>
  <div style="">
    <template>
      <div class="contain">
      <div
        class="bookingBox">
        <div style="display: flex">
          <div style="flex: 1">
            <span style="font-size: 12px; font-weight: bold">Ga đi</span>
            <div
              style="width: 100%; margin-top: 4px">
              <a-button
                @click="departure"
                class="button departure"
                style="border-width: 0px; background-color: #edf6fd; margin-bottom: 16px">
                <div style="display: flex;">
                  <span style="text-align: left; font-weight: bold; flex: 1;">Ga {{departurePoint.station}}<span style="font-weight: 400"> - {{departurePoint.province}}</span></span>
                  <a-icon type="caret-down" />
                </div>
              </a-button>
              <span style="font-size: 12px; font-weight: bold;">Ga đến</span>
              <div
                style="width: 100%; margin-top: 4px">
                <a-button
                  class="button"
                  style="border-width: 0px; background-color: #edf6fd">
                  <div style="display: flex;">
                    <span style="text-align: left; font-weight: bold; flex: 1; width: 100%">Ga Hà Nội<span style="font-weight: 400"> - Hà Nội</span></span>
                    <a-icon type="caret-down" />
                  </div>
                </a-button>
              </div>
          </div>
        </div>
          <div style="margin-left: 8px; display: flex; align-items: center; flex-direction: column; padding-top: 36px; padding-bottom: 8px">
              <font-awesome-icon far icon="subway" />
            <div style="flex: 1; width: 5px; border-style: dot-dash; border-color: #adadad; border-width: 1px;"></div>
            <a-button style="display: flex; transform: rotate(90deg); border-width: 0px; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 15px; background-color: #e8b2d4"><a-icon type="swap" /></a-button>
            <div style="flex: 1"></div>
            <font-awesome-icon far icon="map-marker-alt" />
          </div>
        </div>
        <div style="margin-top: 20px">
          <a-button
            class="button"
            type="danger">
            <a-icon type="search" />
            Tìm kiếm
          </a-button>
        </div>
      </div>
      </div>
    </template>
  </div>
</template>
<script>
window.document.addEventListener('message', function(e) {
  window.alert("message received from react native");
})
export default {
  name:  'MyWebview',
  data() {
    return {
      token: '',
      departurePoint: {
        station: 'Hà Nội',
        province: 'Hà Nội'
      }
    }
  },
  methods:{
    departure() {
      window?.ReactNativeWebView?.postMessage(JSON.stringify({
        type: 'departurePoint',
      }))
    },
    setDeparturePoint(point){
      this.departurePoint = point;
    },
    setToken(token){
      this.token = token;
    },
  },
  beforeMount(){
    //Create interface between Webview and Native application
    window['MyWebview'] = {
      components:  this,
      setDeparturePoint: (point) =>  this.setDeparturePoint(point),
    };
    this.setToken(this.$route.query.token)
  }
}
</script>
<style>
.contain {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
}

.bookingBox {
  margin: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}


.button {
  width: 100%;
  background-color: #ef6c00;
  height: 40px;
  font-weight: bold;
}
</style>
